@import "information.scss";
@import "demonstration.scss";
@import "article.scss";
@import "catalog/catalog.scss";

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 93vh;
}