.article {
    width: 599px;
    height: 292px;
    margin-top: 87px;
    margin-left: 36px;
    padding-right: 68px;
    margin-bottom: 78px;
    p {
        padding-bottom: 30px;
    }
}

.article__text {
    font-family: "SF Compact Display";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.055em;
}