.container__demonstration {
    width: 867px;
    height: 1087px;
    margin-right: 30px;
    position: relative;

    img {
        position: absolute;
        border-radius: 14px;
    }
}

.container__lamp {
    position: absolute;
    left: 215px;
    height: 33%;

    img {
        height: 100%;
    }
}