@import 'logo.scss';
@import 'nav.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5vh;
    width: 95vw;
    height: 4.5vh;
}